<!DOCTYPE html>
<html ng-app="myapp">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/angular-motion.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/bootstrap-additions.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/libraries.min.css">
  <link rel="stylesheet" href="css/app.css">
  
  <link rel="stylesheet" href="summernote/summernote.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> 
  <script src="summernote/summernote.min.js"></script>


</head>

<body ng-controller="MainCtrl">
  <!-- Navigation Bar -->
  <div class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">HealthForum</a>
      </div>
      <!-- Search field in NavBar -->
      <div class="navbar-form pull-left input-group">
        <form ng-submit="search()" class="input-group">
          <input type="text" size="60" class="form-control" ng-model="searchText"
          placeholder="Type the drug name to Search" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="search()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </form>
      </div>

      <div class="navbar-text col-lg-2 pull-right">Drug Found: <a>
              <!-- you had some drug reference crap here -->
      </div>
    </div>

  </div>

  <div class="container container-fluid">


    <!-- Main page layout -->
    <div class="row">

      <!-- Tweet Cards inside frame -->
      <div class="col-lg-5" id="tweet-frame" ng-controller="SelectDemoCtrl">
       <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <!-- Pagination -->
            <ul class="pagination" style="margin:0">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
            <div class="col-lg-5">
              <label>Sort By:&nbsp;</label>
              <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" data-animation="am-flip-x" ng-options="icon.value as icon.label for icon in icons" placeholder="Select" bs-select>
                Action <span class="caret"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="panel-body" style="background-color:#f5f5f5;min-height:30em">
          <div class="list-group">
            <a href="#" class="list-group-item" style="margin-bottom:10px" ng-repeat="drug in drugs">
                <!-- you had some drug reference crap here -->
            </a>
          </div>    
        </div>
      </div>
    </div>

    <!-- Charts column -->
    <div class="col-lg-7">
      <div ng-view></div>
    </div>
  </div>
</div>
</div>


<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-animate.min.js"></script>
<script src="lib/angular/angular-sanitize.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.0.0-rc.4"></script>
<script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.0.0-rc.4"></script>
<script src="js/app.js"></script>
<script src="//mgcrea.github.io/angular-strap/static/scripts/docs.tpl.min.js" data-semver="v2.0.0-rc.4"></script>
</body>

</html>
