<ul class="nav nav-tabs nav-justified">
	<li class="active"><a ng-href="#/description/{{drugName}}">Description</a></li>
	<li><a ng-href="#/sideeffect/{{drugName}}">Side Effect</a></li>
	<li><a ng-href="#/comments/{{drugName}}">User Comments</a></li>
</ul>

<div class="container-fuild content" style="height:90%; overflow-y:scroll">
	<dl>
		<dt>Name:</dt>
		<dd>{{description.name}}</dd>
		<dt>Manufacture:</dt>
		<dd>{{description.manufacture}}</dd>
		<dt>Price:</dt>
		<dd>{{description.price}}</dd>
	</dl>	

</div>
