.header title{
	text-decoration: none; /* The setting of "none" allows the link to not be underlined. This is up to user preference. */ 
}

.nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}

.nav ul:after {
	content: ""; clear: both; display: block;
}

.nav ul ul {
	display: none;
}

.nav ul li:hover > ul {
	display: block;
}

.nav ul li {
	float: left;
}

.nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

.nav ul li:hover a {
	color: #fff;
}

.nav ul li a {
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;
}

.nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

.nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

.nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}

.nav ul ul li a:hover {
	background: #4b545f;
}

.abouthead h1{
	background-color: #FAEBD7;
	border-radius: 20px;
	font-family: fantasy;
	font-size: 20px;
	align: center;
	width:300px;

}
.aboutbody{
	position: relative;
	margin-left: 350px;
	background-color: #F0F8FF	;
	border-radius: 10px;
	
	
	font-family: fantasy;
	text-align: justify;
	width:550px;	

}

.aboutbody p{

	margin: 10px;
}

.contact{
	background-color: #FFECBF;
	border-radius: 10px;
	width:560px;
	margin-left: 350px;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

#start{
	font-family: cursive;
}