<ul class="nav nav-tabs nav-justified">
	<li><a href="#/">Description</a></li>
	<li class="active"><a href="#/sideeffect">Side Effect</a></li>
	<li><a href="#/comments">User Comments</a></li>
</ul>

<div class="container-fuild content">

	<div class="panel panel-info" ng-repeat="effect in effects">
		<div class="panel-heading">{{effect.name}}</div>
		<div class="panel-body">
			Links:
			<div ng-repeat="link in effect.links">
				<a href="{{link.url}}">{{link.name}}</a>
			</div>
		</div>
	</div>

</div>
