<ul class="nav nav-tabs nav-justified">
	<li><a ng-href="#/description/{{drugName}}">Description</a></li>
	<li><a ng-href="#/sideeffect/{{drugName}}">Side Effect</a></li>
	<li class="active"><a ng-href="#/comments/{{drugName}}">User Comments</a></li>
</ul>

<div class="container-fuild content" style="height:90%; overflow-y:scroll">

	<div class="list-group" style="clear:both">
		<a class="list-group-item" ng-repeat="comment in comments">
			<h4 class="list-group-item-heading">{{comment.first_name}}</h4>
			<p class="list-group-item-text">{{comment.content}}</p>
		</a>
	</div>

	<form role="form">
		<div class="summernote">Put comments there!</div>
		<button type="button" class="btn btn-primary pull-right" style="margin-top:0.5em" ng-click="subComment()">Submit</button>
	</form>

</div>


